[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
numpy = "*"
authlib = "*"
requests = "*"
python-dotenv = "*"
pandas = "*"
gunicorn = "*"
dataframe-image = "*"
jupyterlab = "*"

[dev-packages]

[requires]
python_version = "3.9"
